<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bere</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="icon" href="static/Icon.png">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Berenice Arias Maldonado</li>
        </ul>
      </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h2 class="subheader">Sitio dedicado a Bere, el amor de mi vida</h2>
      </div>
    </div>


      

    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Sexto aniversario <small>18/04/26</small></h3>
        <img class="thumbnail" src="static/Mar_de_incertidumbre.jpg">
        <p>En un mar de incertidumbre, donde estar a tu lado es lo único que calma al inclemente mar que ha sido mi vida, agradezco muchísimo tenerte en mi vida; agradezco demasiado al inclemente mar lo bueno que ha sido conmigo al permitirme conocerte; agradezco al mar por permitirnos navegar juntos. </p>
        <div class="callout">
          <ul class="menu simple">
            <li>Gracias por navegar conmigo mi amor hermosa.</li>
            <a href="http://einar.einndoto.win/downloads/Mar_de_incertidumbre.png" class="button">Descargar</a>
          </ul>
        </div>
      </div>
      </div>

      <hr>
      
      <div class="row medium-8 large-7 columns">
        <div class="blog-post">
          <h3>Un único postulado <small>27/03/26</small></h3>
          <p>Del mismo modo que Euclides usó 5 postulados para formalizar la geometría, yo usaré solo uno para formalizar y dar sentido a mi vida.</p>
          <ul class="menu simple">
            <a href="https://einar.einndoto.win/Postulado">Un único postulado</a>
          </ul>
        </div>
      </div>

      <hr>
      

    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Quinto aniversario <small>18/03/26</small></h3>
        <img class="thumbnail" src="static/LucerosComoFaros.jpg">
        <p>Mi mundo es abrumador, cientos de cosas en las que pensar, cientos de cosas por hacer, cada una de ellas más absurda que la anterior.
Desde hace años no dejo de preguntarme cada noche qué es lo que realmente es virtuoso, hasta que te conocí. En cada ocasión que miraba tus ojitos, me quedé hipnotizado; no había cosa más impresionante que el brillo de tus ojos. Cada vez que sonríes, ese brillo me paraliza; todo se vuelve banal cada vez que miro esos ojos preciosos. No he dejado de pensar en tus ojos preciosos como luceros; luceros como faros que guían mi felicidad. A diferencia de un faro tradicional, no hay cosa que desee más que estrellarme en las costas de tus labios, bañarme en tus aguas, embriagarme en tus playas, esparcirme en tus arenas. Bere, tú guías mi felicidad desde ahora.</p>
        <div class="callout">
          <ul class="menu simple">
            <li>Gracias por ser mi guía, mi vida hermosa.</li>
            <a href="http://einar.einndoto.win/downloads/LucerosComoFaros.png" class="button">Descargar</a>
          </ul>
        </div>
      </div>
      </div>

     <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Tercer Aniversario  <small>18/01/26</small></h3>
        <img class="thumbnail" src="static/kitties.png">
        <p>Sé que me repito mucho, pero me es imposible parar de recordarte que estoy obsesionado contigo. Deseo todo de ti mi amor, todo el tiempo, no hay momento en el que no estés en mi cabecita, ojalá pudieras salir de ella para poder abrazarte y besarte, mientras escribo esto es lo único que quiero. Escribo esto para recordar lo que pienso en este momento, yo sé que es solo una fecha, pero me sigue pareciendo increíble esto, Bere, yo muero por ti, moría por ti y estoy seguro de que moriré por ti, no imagino mi vida de otra forma. Espero puedas entender mi sinceridad, Bere hermosa, deseo saber todo lo que piensas, deseo conocer cada parte de ti, muero por ti, no tienes una idea de lo mucho que te amo Bere.</p>
         <audio controls><source src="static/TLOZ.ogg" type="audio/ogg"> </audio> 
        <div class="callout">
          <ul class="menu simple">
            <li>Es como nos imagino siendo gatitos mi vida hermosa.</li>
            <a href="http://einar.einndoto.win/downloads/kitties.png" class="button">Descargar</a>
          </ul>
        </div>
      </div> 
  </body>
</html>



