<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bere</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Berenice Maldonado</li>
        </ul>
      </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h2 class="subheader">Sitio dedicado a Bere</h2>
      </div>
    </div>

    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Tercer Aniversario  <small>18/01/26</small></h3>
        <img class="thumbnail" src="static/kitties.png">
        <p>Sé que me repito mucho, pero me es imposible parar de recordarte que estoy obsesionado contigo. Deseo todo de ti mi amor, todo el tiempo, no hay momento en el que no estés en mi cabecita, ojalá pudieras salir de ella para poder abrazarte y besarte, mientras escribo esto es lo único que quiero. Escribo esto para recordar lo que pienso en este momento, yo sé que es solo una fecha, pero me sigue pareciendo increíble esto, Bere, yo muero por ti, moría por ti y estoy seguro de que moriré por ti, no imagino mi vida de otra forma. Espero puedas entender mi sinceridad, Bere hermosa, deseo saber todo lo que piensas, deseo conocer cada parte de ti, muero por ti, no tienes una idea de lo mucho que te amo Bere.</p>
         <audio controls><source src="static/TLOZ.ogg" type="audio/ogg"> </audio> 
        <div class="callout">
          <ul class="menu simple">
            <li>Es como nos imagino siendo gatitos.</li>
          </ul>
        </div>
      </div>

  </body>
</html>



